# Diet field categories are covered here

In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import utils as ut
from scipy import stats

In [2]:
sns.set_style("dark", {"grid.color": ".6", "grid.linestyle": ":"})
sns.set_context("paper")
sns.set(font_scale = 1.5)

In [3]:
lifestyle_file = "/data5/deepro/ukbiobank/analysis/lifestyle_factors/data/lifestyle_v2.xlsx"
store_dir = "/data5/deepro/ukbiobank/preprocess/rarecomb_pheno_prepare/data"
lifestyle_df = pd.read_excel(lifestyle_file)

In [4]:
int_df = ut.get_integer_factors(lifestyle_df, store_dir)
cat_single_df = ut.get_catsingle_factors(lifestyle_df, store_dir)
cat_multiple_df = ut.get_catmultiple_factors(lifestyle_df, store_dir)

In [12]:
# diet integer vegetable
diet_integer_vegetable = [1289, 1299, ]
# diet integer fruit
diet_integer_fruit = [1309, 1319, ]
# diet integer bread
diet_integer_bread = [1438, ]
# diet integer cereal
diet_integer_cereal = [1458, ]
# diet integer beverage
diet_integer_beverage = [1488, 1498, ]
# diet integer water
diet_integer_water = [1528]

# diet cat single fish
diet_catsingle_fish = [1329, 1339]
# diet cat single meat
diet_catsingle_meat = [1349, 1359, 1369, 1379, 1389]
# diet cat single salt
diet_catsingle_salt = [1478]

# Checking for correlation

In [13]:
int_df.loc[:, diet_integer_vegetable + diet_integer_fruit + diet_integer_bread + diet_integer_cereal + diet_integer_beverage + diet_integer_water].corr()

,1289,1299,1309,1319,1438,1458,1488,1498,1528
1289,1.000000,0.357649,0.170730,0.118622,-0.012643,0.003272,0.024492,0.000377,0.105110
1299,0.357649,1.000000,0.243469,0.159600,-0.075530,-0.006023,0.001137,0.005214,0.171561
1309,0.170730,0.243469,1.000000,0.214176,-0.069018,0.103842,0.008756,-0.012701,0.187532
1319,0.118622,0.159600,0.214176,1.000000,-0.043895,0.117746,0.017570,-0.013102,0.120398
1438,-0.012643,-0.075530,-0.069018,-0.043895,1.000000,-0.011152,0.108351,0.035368,-0.071739
1458,0.003272,-0.006023,0.103842,0.117746,-0.011152,1.000000,0.055388,-0.036641,0.009685
1488,0.024492,0.001137,0.008756,0.017570,0.108351,0.055388,1.000000,-0.254104,-0.105330
1498,0.000377,0.005214,-0.012701,-0.013102,0.035368,-0.036641,-0.254104,1.000000,-0.070247
1528,0.105110,0.171561,0.187532,0.120398,-0.071739,0.009685,-0.105330,-0.070247,1.000000

In [14]:
cat_single_df.loc[:, diet_catsingle_fish + diet_catsingle_meat].corr()

          1329      1339      1349      1359      1369      1379      1389
1329  1.000000  0.411966 -0.051958  0.113605  0.001312  0.091219  0.036501
1339  0.411966  1.000000  0.070147  0.177204  0.063488  0.080273  0.068402
1349 -0.051958  0.070147  1.000000  0.276734  0.310154  0.239699  0.313334
1359  0.113605  0.177204  0.276734  1.000000  0.278426  0.226879  0.252446
1369  0.001312  0.063488  0.310154  0.278426  1.000000  0.417034  0.377210
1379  0.091219  0.080273  0.239699  0.226879  0.417034  1.000000  0.395471
1389  0.036501  0.068402  0.313334  0.252446  0.377210  0.395471  1.000000